absl-py==0.13.0
acme==1.21.0
anyio==2.0.2
anytree==2.8.0
apparmor==3.0.3
appdirs==1.4.4
apsw==3.36.0.post1
argon2-cffi==20.1.0
asn1crypto==1.4.0
astroid==2.4.2
async-generator==1.10
atari-py==0.2.6
attrs==20.3.0
autopep8==1.5.7
Babel==2.9.0
backcall==0.2.0
bcrypt==3.2.0
Beaker==1.11.0
beautifulsoup4==4.9.3
bleach==3.2.1
Brlapi==0.8.3
brotlicffi==1.0.9.2
btrfsutil==5.15
CacheControl==0.12.6
cached-property==1.5.2
cachetools==4.2.2
cchardet==2.1.7
certbot==1.21.0
cffi==1.14.6
chardet==4.0.0
click==8.0.3
cloudpickle==1.6.0
colorama==0.4.4
ConfigArgParse==1.5
configobj==5.1.0.dev0
contextlib2==0.6.0.post1
cryptography==35.0.0
css-parser==1.0.6
cssselect==1.1.0
cycler==0.10.0
Cython==0.29.21
dataclasses==0.6
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.3
distro==1.6.0
dnspython==2.1.0
docker==5.0.3
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.17.1
entrypoints==0.3
evdev==1.4.0
feedparser==6.0.1
filelock==3.0.12
flake8==3.9.2
future==0.18.2
glumpy==1.1.0
google-api-core==1.31.2
google-api-python-client==1.8.0
google-auth==1.34.0
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.5
googleapis-common-protos==1.53.0
greenlet==1.1.2
grpcio==1.41.1
gspread==4.0.1
-e git+https://github.com/openai/gym@c8a659369d98706b3c98b84b80a34a832bbdc6c0#egg=gym
h5py==3.1.0
html2text==2020.1.16
html5-parser==0.4.10
html5lib==1.1
httplib2==0.19.1
idna==3.3
ifaddr==0.1.7
importlib-metadata==4.8.1
ipykernel==5.4.2
ipython==7.19.0
ipython-genutils==0.2.0
isort==5.6.4
jedi==0.18.0
jeepney==0.7.1
Jinja2==3.0.3
joblib==1.0.0
josepy==1.10.0
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.7.0
jupyter-server==1.1.4
jupyterlab==3.0.1
jupyterlab-pygments==0.1.2
jupyterlab-server==2.0.0
kapidox==5.88.0
Keras==2.4.3
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
lensfun==0.3.95
LibAppArmor==3.0.3
lit==13.0.0.dev0
louis==3.19.0
lutris==0.5.9.1
lxml==4.6.4
Mako==1.1.5
mallard-ducktype==1.0.2
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.3.3
mccabe==0.6.1
mechanize==0.4.6
mediapipe==0.8.6.2
mistune==0.8.4
more-itertools==8.10.0
msgpack==1.0.2
multivolumefile==0.2.3
nbclassic==0.2.5
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
netifaces==0.11.0
noise==1.2.2
notebook==6.1.6
numpy==1.19.4
oauth2client==4.1.3
oauthlib==3.1.1
opencv-contrib-python==4.5.3.56
opencv-python==4.5.1.48
optimus-manager==1.3
ordered-set==4.0.2
packaging==20.9
pandas==1.2.0
pandocfilters==1.4.3
paramiko==2.7.2
parsedatetime==2.6
parso==0.8.1
pep517==0.11.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
pluggy==0.13.1
ply==3.11
powerline-shell==0.5.4
powerline-status==2.8.2
progress==1.6
progressbar==2.5
prometheus-client==0.9.0
prompt-toolkit==3.0.9
protobuf==3.17.3
psutil==5.8.0
ptyprocess==0.7.0
py7zr==0.16.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.8.1
pychm==0.8.6
pycodestyle==2.7.0
pycparser==2.20
pycryptodome==3.10.4
pycryptodomex==3.10.1
pydocstyle==6.1.1
PyDrive==1.3.1
pyflakes==2.3.1
pygame==2.0.1
pyglet==1.5.0
Pygments==2.7.3
PyGObject==3.42.0
pylint==2.6.0
pymongo==3.12.0
PyNaCl==1.4.0
pynvim==0.4.3
PyOpenGL==3.1.5
PyOpenGL-accelerate==3.1.5
pyopengltk==0.0.3
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyparted==3.11.7
pyppmd==0.17.1
PyQt5==5.15.2
PyQt5-sip==12.8.1
PyQtWebEngine==5.15.5
pyRFC3339==1.1
pyrsistent==0.17.3
PySide2==5.15.2
PySide6==6.0.0
python-dateutil==2.8.1
python-dotenv==0.19.0
python-lsp-jsonrpc==1.0.0
python-mnist==0.7
pytz==2020.5
PyYAML==5.4.1
pyzmq==20.0.0
pyzstd==0.15.0
qutebrowser==2.4.0
ranger-fm==1.9.3
regex==2021.11.10
requests==2.26.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
resolvelib==0.5.5
retrying==1.3.3
rope==0.19.0
rsa==4.7.2
scikit-learn==0.24.0
scipy==1.6.0
Send2Trash==1.5.0
sfml==2.3.2.dev1
sgmllib3k==1.0.0
shiboken2==5.15.2
shiboken6==6.0.0
six==1.16.0
sklearn==0.0
sniffio==1.2.0
snowballstemmer==2.1.0
soupsieve==2.2.1
team==1.0
terminado==0.9.2
testpath==0.4.4
texttable==1.6.4
threadpoolctl==2.1.0
toml==0.10.2
tomli==1.2.1
torch==1.7.1+cu110
torchaudio==0.7.2
torchvision==0.8.2+cu110
tornado==6.1
traitlets==5.0.5
triangle==20200424
typing-extensions==3.10.0.2
ueberzug==18.1.9
ujson==4.1.0
unrardll==0.1.4
uritemplate==3.0.1
urllib3==1.26.7
validate==5.1.0.dev0
virtualenv==20.2.2
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.59.0
wrapt==1.12.1
yapf==0.31.0
zeroconf==0.36.11
zipp==3.6.0
zope.component==5.0.1
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.event==4.5.0
zope.hookable==5.1.0
zope.interface==5.4.0
zope.proxy==4.4.0
